body { 
    background-color: green;
}

.cabecalho{
    background-color: black;
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

#titulo {

}

p {
    
}

.imgcentro {

}

nav{

}

li{
    display: inline-block;
   

}

li a{
    font-size: 50px;

}

button{
    font-size: 16px;
    color: rgb(255, 0, 132);

}